* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 18px;
  font-family: myriad pro, sans-serif;
}

header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

header .background {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
}

header .background .background__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header .menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  width: 100%;
  height: 13%;
  z-index: 2;
}

header .menu__but-menu {
  pointer-events: all;
  z-index: 2;
  position: absolute;
  top: 50%;
}

header .menu_follow_false .menu__but-menu {
  right: 7%;
}

header .menu_follow_true {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .menu_follow_true .menu__but-menu {
  top: 20px;
}

header .menu_follow_true .menu__bg {
  position: absolute;
  width: 100%;
  border-top: 50px solid #534c3a;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

header .menu_follow_true .menu__bg .menu__noactiv {
  position: absolute;
  width: 120%;
  pointer-events: all;
  top: -50px;
  left: -10%;
  height: 50px;
}

header .logo_follow_false {
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  left: 7%;
  top: 30%;
}

header .logo_follow_true {
  display: none;
}

header .but-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
  color: #fff;
}

header .but-menu_follow_false .but-menu__header {
  margin: 0 5px 0 0;
}

header .but-menu_follow_false .but-menu__item {
  margin: 0 5px;
}

header .but-menu_follow_false .but-menu__card {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0 0 0 5px;
}

header .but-menu_follow_true {
  min-width: 60%;
}

header .but-menu_follow_true .but-menu__header {
  margin: 0 5px 0 0;
}

header .but-menu_follow_true .but-menu__item {
  margin: 0 5px;
}

header .but-menu_follow_true .but-menu__card {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0 0 0 5px;
}

header .message {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  display: flex column;
  text-align: center;
  color: #fff;
  width: 70%;
  background: rgba(110, 108, 108, 0.417);
}

header .message h1 {
  font-size: 2.5em;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 2.5%;
}

header .message p {
  margin-top: 2.5%;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 1.333em;
}

header .arrow {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 55px;
  width: 100%;
  height: 40px;
}

header .arrow__bg {
  position: absolute;
  width: 60px;
  height: 55px;
  background-color: rgba(110, 108, 108, 0.417);
}

header .arrow__down {
  position: relative;
  width: 40px;
  height: 40px;
  border: solid white;
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

section.item {
  width: 100%;
}

section.item .menu-filtr {
  background-color: #f5f6f7;
  min-height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.item .menu-filtr__item-filter {
  width: 85%;
}

section.item .item-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.item .checkbox-item {
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section.item .checkbox-item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.item .checkbox-item__checkbox {
  display: none;
}

section.item .checkbox-item__people {
  font-size: 1.15em;
  margin-left: 4px;
}

section.item .checkbox-item__checkmark {
  position: relative;
  top: -7px;
  width: 29px;
  height: 29px;
  border: 2px solid #aa9b77;
  border-radius: 4px;
  margin-right: 4px;
}

section.item .checkbox-item__label:not(:first-child) .checkbox-item__checkmark {
  margin-left: 15px;
}

section.item .checkbox-item__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 10px;
  height: 16px;
  border: solid #aa9b77;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 7px;
  top: 2px;
}

section.item .checkbox-item input.checkbox-item__checkbox:checked ~ .checkbox-item__checkmark::after {
  display: block;
}

section.item .button-item__all-item {
  width: 204px;
  height: 54px;
  background-color: #aa9b77;
  border-radius: 4px;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
}

section.item .catalog-item {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 85px;
  margin-bottom: 85px;
  display: none;
}

section.item .men__header {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 40px;
}

section.item .men__name {
  margin-right: 4px;
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.item .men__border {
  width: 100%;
  border: 1px solid #ccc;
  height: 2px;
  margin-left: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2px;
}

section.item .men__pagination {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.item .women__header {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 40px;
}

section.item .women__name {
  margin-left: 4px;
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.item .women__border {
  width: 100%;
  border: 1px solid #ccc;
  height: 2px;
  margin-right: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2px;
}

section.item .women__pagination {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.item .women__slot {
  margin-bottom: 45px;
}

section.item .all-item__header {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section.item .all-item__name {
  margin-right: 4px;
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-line-pack: center;
      align-content: center;
  white-space: nowrap;
}

section.item .all-item__border {
  width: 100%;
  border: 1px solid #ccc;
  height: 2px;
  margin-left: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2px;
}

section.item .pagination {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
}

section.item .pagination__arrow {
  height: 15px;
  width: 15px;
  border: solid #aa9b77;
  border-width: 0 0 3px 3px;
}

section.item .pagination__arrow_left {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

section.item .pagination__arrow_right {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

section.item .pagination__text {
  color: #aa9b77;
  font-family: "QuicksandBold";
  font-weight: bold;
  margin-top: -1px;
}

section.item .slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
}

section.item .slot-item {
  width: 310px;
  height: 370px;
  margin: 25px 0;
}

section.item .slot-item_hidden {
  display: none;
}

section.item .slot-item_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.item .slot-item__header-part-slot {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 25px;
}

section.item .slot-item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  padding: 0 25px;
}

section.item .slot-item__image img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.item .slot-item__footer-part-slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  max-height: 50px;
}

section.item .slot-item__name {
  padding-top: 3px;
  margin-left: 10px;
  text-transform: uppercase;
  color: #aa9b77;
  font-weight: bold;
}

section.item .slot-item__cost {
  margin-right: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  color: #424242;
}

section.item .slot-item__cost span {
  font-size: 22px;
  font-weight: normal;
}

section.item .slot-item:hover {
  -webkit-box-shadow: inset 0 0 0 6px #aa9b77;
          box-shadow: inset 0 0 0 6px #aa9b77;
}

section.item .select-size {
  width: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section.item .select-size__size-item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 0.888em;
  font-weight: bold;
  text-transform: uppercase;
  width: 85px;
}

section.item .select-size__arrow-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 1em;
  width: 20px;
  background-color: #fff;
  margin-left: -20px;
  pointer-events: none;
  margin-top: 2px;
}

section.item .select-size__arrow-bg::after {
  content: "";
  height: 0.5em;
  width: 0.5em;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 5px;
}

section.item .color-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.item .color-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.item .color-item__list li {
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

section.item .color-item__list li:not(:first-child) {
  margin-left: 5px;
}

section.about {
  width: 100%;
  background-color: #aa9b77;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about .about-message {
  margin: 75px auto;
  width: 50%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 2px solid #918363;
}

section.about .about-message__header {
  font-size: 1.333em;
  text-transform: uppercase;
  width: 20%;
  white-space: nowrap;
  text-align: center;
  font-family: serif;
  font-weight: bolder;
  margin: -13px auto;
  color: #918363;
  background-color: #aa9b77;
}

section.about .about-message__text {
  width: 75%;
  text-align: center;
  margin: 5% auto;
  color: #424242;
  line-height: 1.333em;
}

footer .soc-web {
  width: 100%;
  height: 70px;
  background-color: #535253;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .soc-web__link {
  width: 25px;
  height: 25px;
}

footer .soc-web__link:first-child {
  margin-left: 5%;
}

footer .soc-web__ico {
  width: 25px;
  height: 25px;
}

footer .footer-menu {
  width: 100%;
  height: 300px;
  background-color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-menu__link {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 1.075em;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}

footer .footer-menu__link:hover {
  color: #7c735f;
}

footer .footer-menu__link:not(:last-child)::after {
  content: " |";
  color: #7c735f;
}

footer .delimiter {
  color: #7c735f;
}

@media (max-device-width: 1024px) {
  section.about .about-message {
    width: 65%;
  }
  section.about .about-message__text {
    line-height: 1.175em;
  }
}

@media (max-device-width: 768px) {
  header .menu_follow_true {
    width: 100%;
  }
  header .message {
    width: 85%;
  }
  header .message h1 {
    font-size: 1.8em;
  }
  header .message p {
    font-size: 1.1em;
    margin-top: 2.5%;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  section.item .item-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.item .item-filter__checkbox-item {
    margin-bottom: 10px;
  }
  section.item .item-filter__button-item {
    margin-top: 10px;
  }
  section.item .checkbox-item__people {
    font-size: 1em;
  }
  section.item .button-item__all-item {
    width: 190px;
    height: 44px;
  }
  section.about .about-message {
    width: 85%;
  }
  section.about .about-message__header {
    width: 30%;
  }
}

@media (max-device-width: 729px) {
  section.item .slot-item {
    margin: 0 auto;
  }
}

@media (max-device-width: 610px) {
  footer .footer-menu__link:before {
    content: "| ";
    color: #7c735f;
  }
  footer .footer-menu__link:not(:last-child):after {
    content: "";
    margin-bottom: 5px;
  }
  footer .footer-menu__link:hover {
    -webkit-animation: foothover 1s linear 100ms 1 normal forwards;
            animation: foothover 1s linear 100ms 1 normal forwards;
  }
  footer .but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .delimiter {
    position: absolute;
    margin-right: 5px;
  }
}

@media (max-device-width: 425px) {
  section.item .item-filter__checkbox-item {
    margin-bottom: 5px;
  }
  section.item .item-filter__button-item {
    margin-top: 5px;
  }
  section.item .checkbox-item__people {
    font-size: 0.8em;
  }
  section.item .checkbox-item__checkmark {
    top: -3px;
    width: 21px;
    height: 21px;
  }
  section.item .checkbox-item__checkmark::after {
    width: 8px;
    height: 12px;
    left: 5px;
    top: 1px;
  }
  section.item .button-item__all-item {
    width: 150px;
    height: 34px;
    font-size: 0.65em;
  }
  section.about .about-message {
    width: 95%;
  }
  section.about .about-message__text {
    font-size: 0.9em;
    line-height: 1.14em;
    width: 90%;
    margin-top: 7.5%;
  }
  footer .footer-menu {
    height: 200px;
  }
  footer .footer-menu__link {
    font-size: 1em;
  }
}

@media (max-device-width: 320px) {
  header {
    font-size: 0.9em;
  }
  header .menu_follow_true .menu__bg {
    border-top: 50px solid #534c3a;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
  }
  header .menu_follow_true .menu__bg .menu__noactiv {
    position: absolute;
    width: 120%;
    pointer-events: all;
    top: -50px;
    left: -10%;
    height: 50px;
  }
  header .message {
    width: 95%;
  }
  header .message h1 {
    font-size: 1.7em;
  }
  header .message p {
    margin-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-device-width: 768px) {
  header {
    font-size: 1.2em;
  }
}

@media (min-device-width: 1440px) {
  header {
    font-size: 1.4em;
  }
}

@media (max-device-height: 600px) {
  header {
    font-size: 0.95em;
  }
  header .message {
    width: 95%;
  }
  header .message p {
    margin-top: 2.5%;
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}

@media (max-device-height: 320px) {
  header {
    font-size: 0.9em;
  }
  header .message {
    width: 95%;
  }
  header .message p {
    margin-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

@-webkit-keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes foothover {
  from {
    width: 0;
    background-color: #7c735f;
  }
  to {
    width: 100%;
    background-color: #7c735f;
  }
}

@keyframes foothover {
  from {
    width: 0;
    background-color: #7c735f;
  }
  to {
    width: 100%;
    background-color: #7c735f;
  }
}
