* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 18px;
  font-family: myriad pro, sans-serif;
}

header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

header .background {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
}

header .background .background__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header .menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 13%;
  z-index: 2;
}

header .menu__but-menu {
  position: absolute;
  top: 50%;
}

header .menu_follow_false .menu__but-menu {
  right: 7%;
}

header .menu_follow_true {
  width: 50%;
  border-top: 50px solid #534c3a;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .menu_follow_true .menu__but-menu {
  top: -35px;
}

header .logo_follow_false {
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  left: 7%;
  top: 30%;
}

header .logo_follow_true {
  display: none;
}

header .but-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
  color: #fff;
}

header .but-menu_follow_false .but-menu__header {
  margin: 0 5px 0 0;
}

header .but-menu_follow_false .but-menu__item {
  margin: 0 5px;
}

header .but-menu_follow_false .but-menu__card {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0 0 0 5px;
}

header .but-menu_follow_true {
  min-width: 60%;
}

header .but-menu_follow_true .but-menu__header {
  margin: 0 5px 0 0;
}

header .but-menu_follow_true .but-menu__item {
  margin: 0 5px;
}

header .but-menu_follow_true .but-menu__card {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0 0 0 5px;
}

header .message {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  display: flex column;
  text-align: center;
  color: #fff;
  width: 70%;
  background: rgba(110, 108, 108, 0.417);
}

header .message h1 {
  font-size: 2.5em;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 2.5%;
}

header .message p {
  margin-top: 2.5%;
  padding-left: 15%;
  padding-right: 15%;
}

header .arrow {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 55px;
  width: 100%;
  height: 40px;
}

header .arrow__bg {
  position: absolute;
  width: 60px;
  height: 55px;
  background-color: rgba(110, 108, 108, 0.417);
}

header .arrow__down {
  position: relative;
  width: 40px;
  height: 40px;
  border: solid white;
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

section.item .menu-filtr {
  background-color: #f5f6f7;
  min-height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.item .menu-filtr__item-filter {
  width: 85%;
}

section.item .item-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.item .checkbox-item {
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section.item .checkbox-item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.item .checkbox-item__checkbox {
  display: none;
}

section.item .checkbox-item__people {
  font-size: 1.15em;
  margin-left: 4px;
}

section.item .checkbox-item__checkmark {
  position: relative;
  top: -7px;
  width: 29px;
  height: 29px;
  border: 2px solid #aa9b77;
  border-radius: 4px;
  margin-right: 4px;
}

section.item .checkbox-item__label:not(:first-child) .checkbox-item__checkmark {
  margin-left: 15px;
}

section.item .checkbox-item__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 10px;
  height: 16px;
  border: solid #aa9b77;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 7px;
  top: 2px;
}

section.item .checkbox-item input.checkbox-item__checkbox:checked ~ .checkbox-item__checkmark::after {
  display: block;
}

section.item .button-item__all-item {
  width: 204px;
  height: 54px;
  background-color: #aa9b77;
  border-radius: 4px;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
}

@media (max-device-width: 320px) {
  header {
    font-size: 0.9em;
  }
  header .menu_follow_true {
    border-top: 50px solid #534c3a;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
  }
  header .message {
    width: 95%;
  }
  header .message h1 {
    font-size: 1.7em;
  }
  header .message p {
    margin-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-device-width: 768px) {
  header .menu_follow_true {
    width: 100%;
  }
  header .message {
    width: 85%;
  }
  header .message h1 {
    font-size: 1.8em;
  }
  header .message p {
    font-size: 1.1em;
    margin-top: 2.5%;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

@media (min-device-width: 768px) {
  header {
    font-size: 1.2em;
  }
}

@media (min-device-width: 1440px) {
  header {
    font-size: 1.4em;
  }
}

@media (max-device-height: 600px) {
  header {
    font-size: 0.95em;
  }
  header .message {
    width: 95%;
  }
  header .message p {
    margin-top: 2.5%;
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}

@media (max-device-height: 320px) {
  header {
    font-size: 0.9em;
  }
  header .message {
    width: 95%;
  }
  header .message p {
    margin-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
