// sass дополнительно -----------------\
@import "zeroing";

// основной цвет сайта
$GC: #aa9b77;
// цвет меню
$MC: #534c3a;
// цвет тени меню
$MSC: #695a37a4;
// цвет меню-фильтр
$MFC: #f5f6f7;
// цвет кнопки купить
$BBC: rgb(124, 228, 76);
// цвет цены
$CC: #424242;
// цвет about границ и заглавия
$AC: #918363;
// цвет about текст
$AT: #424242;
//  цвет footer фона блока с соц сетями
$FSC: #535253;
// цвет footer фон меню
$FM: #424242;
//  цвет footer разделитель |
$FMD: #7c735f;
// цвет footer анимации
$FAC: #7c735f;
// цвет текста в слоте выбора
$BT: #424242;

@mixin trapezoid($h, $l, $r) {
	border-top: $h solid $MC;
	border-left: $l solid transparent;
	border-right: $r solid transparent;
	.menu__noactiv {
		position: absolute;
		width: 120%;
		pointer-events: auto;
		top: -$h;
		left: -10%;
		height: $h;
	}
}

@mixin arrow($h, $mt, $b, $deg, $col) {
	height: $h * 2;
	&_left::after {
		content: "";
		position: absolute;
		height: $h;
		border-right: $b solid $col;
		border-radius: 1px;
		transform: rotate(-$deg);
		margin-top: $mt;
	}
	&_right::after {
		content: "";
		position: absolute;
		height: $h;
		border-right: $b solid $col;
		transform: rotate($deg);
		border-radius: 1px;
		margin-top: $mt;
	}
	&_left::before {
		content: "";
		position: absolute;
		height: $h;
		border-right: $b solid $col;
		border-radius: 1px;
		transform: rotate($deg);
	}

	&_right::before {
		content: "";
		position: absolute;
		height: $h;
		border-right: $b solid $col;
		border-radius: 1px;
		transform: rotate(-$deg);
	}
}

%color-item {
	.color-item {
		display: flex;
		&__list {
			display: flex;
			li {
				width: 21px;
				height: 21px;
				border-radius: 50%;
			}
			li:not(:first-child) {
				margin-left: 5px;
			}
		}
	}
}
// ------------------------------------/
// начало -----------------------------\
body {
	font-size: 18px;
	font-family: myriad pro, sans-serif;
	overflow: hidden;
}
header {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	//   фон -----------------------------\
	.background {
		top: 0;
		left: 0;
		position: absolute;
		height: 100%;
		.background__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// -----------------------------------------------/
	//   меню ----------------------------\
	.menu {
		position: fixed;
		display: flex;
		pointer-events: none;
		width: 100%;
		height: 13%;
		z-index: 2;
		&__but-menu {
			pointer-events: auto;
			z-index: 2;
			position: absolute;
			top: 50%;
		}
		&_follow_false {
			.menu__but-menu {
				right: 7%;
			}
		}
		&_follow_true {
			width: 50%;
			justify-content: center;
			align-content: center;
			.menu__but-menu {
				top: 20px;
			}
		}
		&_follow_true .menu__bg {
			position: absolute;
			width: 100%;
			@include trapezoid(50px, 100px, 100px);
		}
	}
	// Вид -----------------------------------------------\
	.logo {
		&_follow_false {
			position: relative;
			align-self: start;
			left: 7%;
			top: 30%;
		}
		&_follow_true {
			display: none;
		}
	}
	.but-menu {
		display: inline-flex;
		min-width: 25%;
		justify-content: space-around;
		font-size: 1em;
		color: #fff;
		&_follow_false {
			.but-menu__header {
				margin: 0 5px 0 0;
			}
			.but-menu__item {
				margin: 0 5px;
			}
			.but-menu__shopping-card {
				align-self: start;
				margin: 0 0 0 5px;
			}
		}
		&_follow_true {
			min-width: 60%;
			.but-menu__header {
				margin: 0 5px 0 0;
			}
			.but-menu__item {
				margin: 0 5px;
			}
			.but-menu__shopping-card {
				align-self: start;
				margin: 0 0 0 5px;
			}
		}
	}
	// -----------------------------------------------/
	// -----------------------------------------------/
	// Текст на главной и кнопка ---------------------------------\
	.message {
		position: relative;
		align-self: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: #fff;
		width: 70%;
		background: rgba(110, 108, 108, 0.417);
		h1 {
			font-size: 2.5em;
			font-family: serif;
			font-weight: bold;
			margin-bottom: 2.5%;
		}
		p {
			margin-top: 2.5%;
			padding-left: 15%;
			padding-right: 15%;
			line-height: 1.333em;
		}
	}
	.arrow {
		position: absolute;
		align-self: flex-end;
		display: flex;
		justify-content: center;
		padding-bottom: 55px;
		width: 100%;
		height: 40px;
		&__bg {
			position: absolute;
			width: 60px;
			height: 55px;
			background-color: rgba(110, 108, 108, 0.417);
		}
		&__down {
			position: relative;
			width: 40px;
			height: 40px;
			border: solid white;
			border-width: 0 10px 10px 0;
			transform: rotate(45deg);
		}
	}
}
// -----------------------------------------------/
// Оснавная секция ----------------------------------------\
section.item {
	width: 100%;
	// фильтр -----------------------------------------\
	.menu-filtr {
		background-color: $MFC;
		min-height: 130px;
		width: 100%;
		display: flex;
		justify-content: center;
		&__item-filter {
			width: 85%;
		}
	}
	.item-filter {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.checkbox-item {
		text-transform: uppercase;
		display: inline-flex;
		&__label {
			display: flex;
			justify-content: center;
		}
		&__checkbox {
			display: none;
		}
		&__label {
			font-size: 1.15em;
			margin-left: 4px;
		}
		&__checkmark {
			position: relative;
			top: -7px;
			width: 29px;
			height: 29px;
			border: 2px solid $GC;
			border-radius: 4px;
			margin-right: 8px;
		}
		&__label:not(:first-child) .checkbox-item__checkmark {
			margin-left: 15px;
		}
		&__checkmark::after {
			content: "";
			position: absolute;
			display: none;
			width: 10px;
			height: 16px;
			border: solid $GC;
			border-width: 0 4px 4px 0;
			transform: rotate(45deg);
			left: 7px;
			top: 2px;
		}
		input.checkbox-item__checkbox:checked ~ {
			.checkbox-item__checkmark::after {
				display: block;
			}
		}
	}
	.button-item {
		&__all-item {
			width: 204px;
			height: 54px;
			background-color: $GC;
			border-radius: 4px;
			color: #fff;
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}
	//----------------------------------------------------/
	// Каталог -----------------------------------------\
	.catalog-item {
		width: 85%;
		display: flex;
		flex-direction: column;
		margin-left: 7.5%;
		margin-right: 7.5%;
		margin-top: 85px;
		margin-bottom: 85px;
		display: none;
	}
	.men {
		min-height: 540px;
		&__header {
			width: 100%;
			display: inline-flex;
			margin-bottom: 40px;
		}

		&__name {
			margin-right: 4px;
			text-transform: uppercase;
			font-weight: bold;
			height: min-content;
			align-content: center;
		}

		&__border {
			width: 100%;
			border: 1px solid #ccc;
			height: 2px;
			margin-left: 4px;
			align-self: center;
			margin-bottom: 2px;
		}

		&__pagination {
			justify-content: flex-end;
		}
	}
	.women {
		min-height: 540px;
		&__header {
			width: 100%;
			display: inline-flex;
			margin-bottom: 40px;
		}

		&__name {
			margin-left: 4px;
			text-transform: uppercase;
			font-weight: bold;
			height: min-content;
			align-content: center;
		}

		&__border {
			width: 100%;
			border: 1px solid #ccc;
			height: 2px;
			margin-right: 4px;
			align-self: center;
			margin-bottom: 2px;
		}

		&__pagination {
			justify-content: flex-start;
		}

		&__slot {
			margin-bottom: 45px;
		}
	}
	.all-item {
		&__header {
			width: 100%;
			display: inline-flex;
		}

		&__name {
			margin-right: 4px;
			text-transform: uppercase;
			font-weight: bold;
			height: min-content;
			align-content: center;
			white-space: nowrap;
		}

		&__border {
			width: 100%;
			border: 1px solid #ccc;
			height: 2px;
			margin-left: 4px;
			align-self: center;
			margin-bottom: 2px;
		}
	}
	.pagination {
		display: inline-flex;
		height: min-content;
		width: 100%;

		&__arrow {
			height: 15px;
			width: 15px;
			border: solid $GC;
			border-width: 0 0 3px 3px;

			&_left {
				transform: rotate(45deg);
			}

			&_right {
				transform: rotate(-135deg);
			}
		}

		&__text {
			color: $GC;
			font-family: "QuicksandBold";
			font-weight: bold;
			margin-top: -1px;
		}
	}
	.slot {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 45px;
	}
	.slot-item {
		width: 310px;
		height: 370px;
		margin: 25px 0;
		&_hidden {
			display: none;
		}
		&_show {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__header-part-slot {
			width: 100%;
			display: inline-flex;
			justify-content: space-around;
			margin-top: 25px;
		}
		&__image {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 215px;
			padding: 0 25px;
			img {
				position: relative;
				max-height: 100%;
				object-fit: cover;
			}
		}
		&__bay-box {
			position: absolute;
			display: flex;
			width: 310px;
			height: 215px;
			z-index: 1;
		}
		&__bay-button {
			display: none;
			width: 120px;
			height: 30px;
			border-radius: 50px;
			background: $BBC;
			text-transform: uppercase;
			color: $CC;
			font-weight: bold;
			margin: auto;
			z-index: 1;
		}
		&__bay-box:hover .slot-item__bay-button {
			display: block;
			animation: bay-button 0.3s linear 1;
		}
		&__footer-part-slot {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
			max-height: 50px;
		}
		&__name {
			padding-top: 3px;
			margin-left: 10px;
			text-transform: uppercase;
			color: $GC;
			font-weight: bold;
		}
		&__cost {
			margin-right: 10px;
			margin-bottom: 20px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.1em;
			color: $CC;
			span {
				font-size: 22px;
				font-weight: normal;
			}
		}
	}
	.slot-item:hover {
		box-shadow: inset 0 0 0 6px $GC;
	}
	.select-size {
		width: 50%;
		display: inline-flex;
		&__size-item {
			appearance: none;
			font-size: 0.888em;
			font-weight: bold;
			text-transform: uppercase;
			width: 85px;
		}
		&__arrow-bg {
			display: flex;
			justify-content: flex-end;
			height: 1em;
			width: 20px;
			background-color: #fff;
			margin-left: -20px;
			pointer-events: none;
			margin-top: 2px;
		}
		&__arrow-bg::after {
			content: "";
			height: 0.5em;
			width: 0.5em;
			border: solid black;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			margin-right: 5px;
		}
	}
	@extend %color-item;
}
// ----------------------------------------------/
// shopping-card скция--------------------------------------------\
section.shopping-card {
	// display: none;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-height: 100%;
	height: 100%;
	background: rgba(70, 70, 70, 0.7);
	.close {
		width: 35px;
		height: 35px;
		background-color: $GC;
		&__line:nth-child(1) {
			position: absolute;
			width: 40px;
			height: 4px;
			margin-top: 15px;
			background-color: #eee;
			transform: rotate(45deg);
		}
		&__line:nth-child(2) {
			position: absolute;
			width: 40px;
			height: 4px;
			margin-top: 15px;
			background-color: #eee;
			transform: rotate(-45deg);
		}
	}
	.select-box {
		display: none;
		position: relative;
		min-width: 60%;
		max-width: 90%;
		width: min-content;
		height: 70%;
		background: #ffffff;
		margin: auto;
		// border: 20px solid $GC;
		box-shadow: 0 0 20px 20px $GC;

		// display: none;
		&__contain {
			display: flex;
			width: 100%;
			height: 100%;
		}
		&__gallery {
			margin: auto 10px;
			// background: rgba(238, 51, 51, 0.452);
		}
		&__separator {
			width: 15px;
			height: 100%;
			border-left: 5px solid $GC;
			border-right: 5px solid $GC;
		}
		&__item-data {
			margin: auto 10px;
			border: 2px solid $GC;
			background-color: rgba(204, 204, 204, 0.4);
			// background: rgba(51, 238, 51, 0.452);
		}
		&__close {
			position: absolute;
			right: 0;
			margin: -20px;
		}
	}
	.gallery {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-width: 35%;
		width: 40%;
		height: 80%;
		// background-color: rgba(red, $alpha: 0.5);
		&__watch-gallery {
			// margin: 0 auto;
		}
		&__color-item {
			margin: 0 auto;
		}
	}
	.watch-gallery {
		display: flex;
		height: 85%;
		width: 100%;

		&__img-box {
			display: flex;
			margin: 0 auto;
			width: 80%;
			height: 100%;
		}
		&__item-img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
		&__arrow {
			width: 10%;
			align-self: center;
			@include arrow(50px, 46px, 7px, 15deg, $MC);
			&_left::after,
			&_left::before {
				margin-left: 7px;
			}
			&_right::after,
			&_right::before {
				margin-left: 15px;
			}
		}
	}
	@extend %color-item;
	// -------------------------------------------\
	.item-data {
		position: relative;
		max-width: 100%;
		min-height: 80%;
		max-height: 90%;
		width: max-content;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 1.2em;
		&__name {
			width: 100%;
			height: 10%;
			// background-color: #ccc;
			align-self: center;
		}

		&__size {
			height: 10%;
			margin: 10px 0;
			// background-color: #ccc;
		}

		&__color {
			height: 15%;
			margin-bottom: 10px;
			// background-color: #ccc;
		}
		&__quantity {
			margin-bottom: 10px;
		}
		&__description {
			// background-color: #ccc;
			// overflow: hidden;
		}

		&__bay-section {
			min-height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 13%;
			border-top: 2px solid $GC;
			// background-color: #ccc;
		}

		&__cost {
			font-size: 1.3em;
			color: $CC;
		}

		&__bay-but {
			width: 200px;
			height: 40px;
			font-size: 1em;
			margin-left: 5%;
			background-color: $BBC;
			border-radius: 50px;
		}
		&__header-cost {
			margin-right: 10px;
		}
	}
	.name {
		// border-bottom: 2px solid $GC;
		&__header {
			padding-top: 5px;
			font-size: 1.3em;
			color: $BT;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.size {
		display: flex;
		align-items: center;
		&__header {
			color: $BT;
		}
		&__list-size {
			margin-left: 5px;
		}
		.list-size {
			display: flex;
			text-transform: uppercase;
			&__item {
				margin-left: 5px;
				user-select: none;
				&_select {
					border-bottom: 2px solid #000;
					margin-left: 5px;
					user-select: none;
				}
			}
		}
	}
	.color {
		@extend %color-item;
		display: flex;
		&__header {
			align-self: center;
			color: $BT;
		}
		.color-item {
			align-items: center;
			&__item {
				margin-left: 10px;
				width: 23px;
				height: 23px;
				border-radius: 50%;
				&_select {
					width: 30px;
					height: 30px;
					margin-left: 15px;
					margin-right: 10px;
					border-radius: 50%;
				}
			}
		}
	}
	.quantity {
		display: flex;
		&__header {
			align-self: center;
			color: $BT;
		}
		&__box {
			width: 30px;
			margin-left: 10px;
			text-align: center;
			border: 1px solid $GC;
		}
	}
	.description {
		width: 100%;
		max-height: 145px;
		height: min-content;
		display: flex;
		flex-direction: column;
		&__header {
			color: $BT;
		}

		&__text {
			overflow: auto;
			padding-left: 5px;
			padding-top: 5px;
			font-size: 0.9em;
			// border-top: 2px solid $GC;
		}
	}
	// -------------------------------/
	// --------------------------------------/
	.bay-box {
		position: relative;
		width: 90%;
		height: 90%;
		background-color: #fff;
		margin: 50px auto;
		box-shadow: 0 0 15px 15px $GC;
		border: 5px solid $GC;
		// display: none;
		display: flex;
		&__bay-item {
			width: 70%;
			height: 100%;
		}
		&__window-card {
			width: 100%;
			height: 90%;
			// background-color: #324;
			// margin-top: 5%;
		}

		&__total {
			height: 100%;
			width: 30%;
			// background-color: #958;
			border-left: 6px solid $GC;
		}
		&__close {
			position: absolute;
			right: 0;
		}
	}
	.info-header {
		width: 100%;
		height: 10%;
		// background-color: #643;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 4px solid $GC;
		text-transform: uppercase;
	}

	.window-bay {
		overflow: hidden;
		&__box-el {
			width: 109%;
			height: 100%;
			padding-right: 20px;
			overflow: auto;
			display: flex;
			flex-direction: column;
		}
		&__contain-el {
			position: relative;
			width: 85%;
			height: 100px;
			margin: 10px;
			&_hidden {
				display: none;
			}
			&_show {
				display: flex;
			}
		}
		&__contain-el:hover {
			.delete {
				animation: showDelete 0.5s linear 1 forwards;
			}
		}
		&__delete {
			position: absolute;
			right: 15%;
			opacity: 0;
		}
	}
	.delete {
		width: 15%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&__line {
			position: absolute;
			width: 4px;
			height: 60%;
			background-color: #000;
		}
		&__line:nth-child(1) {
			transform: rotate(45deg);
		}
		&__line:nth-child(2) {
			transform: rotate(-45deg);
		}
	}
	.bay-el {
		position: relative;
		border: 2px solid $GC;
		height: 100%;
		width: 85%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		z-index: 1;
		&__img-box {
			min-width: 80px;
			width: 10%;
			height: 90%;
			border: 1px solid $GC;
		}
		&__img {
			max-width: 100%;
			max-height: 100%;
		}
		&__contain {
			width: 80%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			// background-color: hotpink;
		}
		&__name-box {
			width: 40%;
			display: flex;
			flex-direction: column;
			// background-color: red;
		}
		&__header-name {
			border-bottom: 1px solid $GC;
		}
		&__name {
			margin: auto;
		}
		&__size-box {
			width: 15%;
			display: flex;
			flex-direction: column;
			// background-color: green;
		}
		&__size {
			margin: auto;
		}
		&__header-size {
			border-bottom: 1px solid $GC;
		}
		&__color-box {
			width: 15%;
			display: flex;
			flex-direction: column;
			// background-color: gold;
		}
		&__header-color {
			border-bottom: 1px solid $GC;
		}
		&__color {
			width: 21px;
			height: 21px;
			margin: auto;
			border-radius: 50%;
		}
		&__cost-box {
			width: 30%;
			display: flex;
			flex-direction: column;
			// background-color: royalblue;
		}
		&__header-cost {
			border-bottom: 1px solid $GC;
		}
		&__cost {
			margin-top: auto;
		}
		&__quantity{
			margin-bottom: auto;
		}
	}
	.total {
		font-size: 1.3em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__quantity-header {
			text-transform: uppercase;
		}
		&__colon {
			font-size: 1.4em;
		}
		&__quantity {
			font-size: 1.3em;
			margin-left: 5px;
		}
		&__total-cost {
			margin-top: 10px;
		}
		&__bay-but {
			font-size: 1.1em;
			width: 60%;
			height: 65px;
			border-radius: 50px;
			background-color: $BBC;
			margin-top: 10px;
		}
	}
	.total-cost {
		&__header {
			text-transform: uppercase;
			text-align: center;
		}
	}
}
// -----------------------------------------------------/
// About скция--------------------------------------------\
section.about {
	width: 100%;
	background-color: $GC;
	min-height: 350px;
	display: flex;
	.about-message {
		margin: 75px auto;
		width: 50%;
		height: min-content;
		border: 2px solid $AC;
		&__header {
			font-size: 1.333em;
			text-transform: uppercase;
			width: 20%;
			white-space: nowrap;
			text-align: center;
			font-family: serif;
			font-weight: bolder;
			margin: -13px auto;
			color: $AC;
			background-color: $GC;
		}

		&__text {
			width: 75%;
			text-align: center;
			margin: 5% auto;
			color: $AT;
			line-height: 1.333em;
		}
	}
}
// --------------------------------------------/
// About скция--------------------------------------------\
// footer--------------------------------------------/
footer {
	.soc-web {
		width: 100%;
		height: 70px;
		background-color: $FSC;
		display: flex;
		align-items: center;
		&__link {
			width: 25px;
			height: 25px;
		}
		&__link:first-child {
			margin-left: 5%;
		}
		&__ico {
			width: 25px;
			height: 25px;
		}
	}
	.footer-menu {
		width: 100%;
		height: 300px;
		background-color: $FM;
		display: flex;
		align-items: center;
		justify-content: center;
		&__link {
			width: min-content;
			font-size: 1.075em;
			color: #fff;
			text-transform: uppercase;
			white-space: nowrap;
		}
		&__link:hover {
			color: $FAC;
		}
		&__link:not(:last-child)::after {
			content: " |";
			color: $FMD;
		}
	}
	.delimiter {
		color: $FMD;
	}
}

// ----------------------------------------------/
// -----------------------------------------------/
// Медиазапросы -----------------------------------------\
// Ширина -----------------------------------------------\
@media (max-device-width: 1024px) {
	section.about {
		.about-message {
			width: 65%;
			&__text {
				line-height: 1.175em;
			}
		}
	}
}
@media (max-device-width: 768px) {
	header {
		.menu {
			&_follow_true {
				width: 100%;
			}
		}
		.message {
			width: 85%;
			h1 {
				font-size: 1.8em;
			}
			p {
				font-size: 1.1em;
				margin-top: 2.5%;
				padding-left: 7.5%;
				padding-right: 7.5%;
			}
		}
	}
	section.item {
		.item-filter {
			flex-direction: column;
			justify-content: center;
			&__checkbox-item {
				margin-bottom: 10px;
			}
			&__button-item {
				margin-top: 10px;
			}
		}
		.checkbox-item {
			&__label {
				font-size: 1em;
			}
		}
		.button-item {
			&__all-item {
				width: 190px;
				height: 44px;
			}
		}
	}
	section.about {
		.about-message {
			width: 85%;
			&__header {
				width: 30%;
			}
		}
	}
}
@media (max-device-width: 729px) {
	section.item {
		.slot-item {
			margin: 25px auto;
		}
	}
}
@media (max-device-width: 610px) {
	footer {
		.footer-menu {
			&__link:before {
				content: "| ";
				color: $FMD;
			}
			&__link:not(:last-child):after {
				content: "";
				margin-bottom: 5px;
			}
			&__link:hover {
				animation: foothover 1s linear 100ms 1 normal forwards;
				color: #fff;
			}
		}
		.but {
			display: flex;
			flex-direction: column;
		}
		.delimiter {
			position: absolute;
			margin-right: 5px;
		}
	}
}
@media (max-device-width: 425px) {
	section.item {
		.item-filter {
			&__checkbox-item {
				margin-bottom: 5px;
			}
			&__button-item {
				margin-top: 5px;
			}
		}
		.checkbox-item {
			&__label {
				font-size: 0.8em;
			}
			&__checkmark {
				top: -3px;
				width: 21px;
				height: 21px;
			}
			&__checkmark::after {
				width: 8px;
				height: 12px;
				left: 5px;
				top: 1px;
			}
		}
		.button-item {
			&__all-item {
				width: 150px;
				height: 34px;
				font-size: 0.65em;
			}
		}
	}
	section.about {
		.about-message {
			width: 95%;
			&__text {
				font-size: 0.9em;
				line-height: 1.14em;
				width: 90%;
				margin-top: 7.5%;
			}
		}
	}
	footer {
		.footer-menu {
			height: 200px;
			&__link {
				font-size: 1em;
			}
		}
	}
}
@media (max-device-width: 375px) {
	header {
		.menu {
			&_follow_true .menu__bg {
				@include trapezoid(50px, 0, 0);
			}
		}
	}
}
@media (max-device-width: 320px) {
	header {
		font-size: 0.9em;
		.message {
			width: 95%;
			h1 {
				font-size: 1.7em;
			}
			p {
				margin-top: 2.5%;
				padding-left: 5%;
				padding-right: 5%;
			}
		}
	}
}
@media (min-device-width: 768px) {
	header {
		font-size: 1.2em;
	}
}
@media (min-device-width: 1440px) {
	header {
		font-size: 1.4em;
	}
}
//  -----------------------------------------------/
// Высота ----------------------------------------------------------\
@media (max-device-width: 650px), (max-device-height: 650px) {
	section.shopping-card {
		// background-color: #fff;
		overflow: auto;
		.select-box {
			margin-top: 60px;
			margin-bottom: 0;
			// min-height: 100%;
			max-height: min-content;
			height: min-content;
			max-width: 100%;
			&__contain {
				flex-direction: column;
				flex-wrap: wrap;
				height: 100%;
				justify-content: space-between;
				overflow: hidden;
			}
			&__gallery {
				width: 70%;
				justify-content: center;
				margin: 5% 15%;
			}
			&__separator {
				width: 100%;
				// height: 1px;
				border-top: 4px solid $GC;
				// margin-left: -4px;
			}
		}
		.gallery {
			&__color-item {
				margin-top: 10px;
			}
		}
		.watch-gallery {
			&__arrow {
				width: 40px;
				margin: auto;
			}
			&__item-img {
				max-height: 70vh;
			}
		}
		.item-data {
			margin: 3% 0;
			&__bay-section {
				font-size: 0.9em;
			}
			&__bay-but {
				width: 200px;
				height: 45px;
				margin-left: 5%;
				background-color: $BBC;
				border-radius: 50px;
			}
		}
	}
}
@media (min-device-width: 650px) and (max-device-height: 650px) {
	section.shopping-card {
		.select-box {
			max-width: 60%;
		}
		.item-data {
			margin: 3% auto;
			padding-top: 10px;
			max-width: 80%;
		}
	}
}
@media (max-device-height: 600px) {
	header {
		font-size: 0.95em;
		.message {
			width: 95%;
			p {
				margin-top: 2.5%;
				padding-left: 5.5%;
				padding-right: 5.5%;
			}
		}
	}
}
@media (max-device-height: 320px) {
	header {
		font-size: 0.9em;
		.message {
			width: 95%;
			p {
				margin-top: 2.5%;
				padding-left: 2.5%;
				padding-right: 2.5%;
			}
		}
	}
}
// -----------------------------------------------/
// -----------------------------------------------/
// анимация ------------------------------------------\
@keyframes hidden {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes foothover {
	from {
		width: 0;
		background-color: $FMD;
	}
	to {
		width: 100%;
		background-color: $FAC;
	}
}
@keyframes bay-button {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes showDelete {
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}
// -----------------------------------------------/
// Конец -----------------------------------------------/
