// sass дополнительно -----------------\
@import "zeroing";

// основной цвет сайта
$GC: #aa9b77;
// цвет меню
$MC: #534c3a;
// цвет тени меню
$MSC: #695a37a4;
// цвет меню-фильтр
$MFC: #f5f6f7;

@mixin trapezoid($h, $l, $r) {
  border-top: $h solid $MC;
  border-left: $l solid transparent;
  border-right: $r solid transparent;
}
// ------------------------------------/
// начало -----------------------------\
body {
  font-size: 18px;
  font-family: myriad pro, sans-serif;
}
//
header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  //   фон -----------------------------\
  .background {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    .background__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  // -----------------------------------------------/
  //   меню ----------------------------\
  .menu {
    position: fixed;
    display: flex;
    width: 100%;
    height: 13%;
    z-index: 2;
    &__but-menu {
      position: absolute;
      top: 50%;
    }
    &_follow_false {
      .menu__but-menu {
        right: 7%;
      }
    }
    &_follow_true {
      width: 50%;
      @include trapezoid(50px, 100px, 100px);
      // background-color: $MC;
      justify-content: center;
      align-content: center;
      .menu__but-menu {
        top: -35px;
      }
    }
  }
  // Вид -----------------------------------------------\
  .logo {
    &_follow_false {
      position: relative;
      align-self: start;
      left: 7%;
      top: 30%;
    }
    &_follow_true {
      display: none;
    }
  }

  .but-menu {
    display: inline-flex;
    min-width: 25%;
    justify-content: space-around;
    font-size: 1em;
    color: #fff;
    &_follow_false {
      .but-menu__header {
        margin: 0 5px 0 0;
      }
      .but-menu__item {
        margin: 0 5px;
      }
      .but-menu__card {
        align-self: start;
        margin: 0 0 0 5px;
      }
    }
    &_follow_true {
      min-width: 60%;
      .but-menu__header {
        margin: 0 5px 0 0;
      }
      .but-menu__item {
        margin: 0 5px;
      }
      .but-menu__card {
        align-self: start;
        margin: 0 0 0 5px;
      }
    }
  }
  // -----------------------------------------------/
  // -----------------------------------------------/
  // Текст на главной и кнопка ---------------------------------\
  .message {
    position: relative;
    align-self: center;
    display: flex column;
    text-align: center;
    color: #fff;
    width: 70%;
    background: rgba(110, 108, 108, 0.417);
    h1 {
      font-size: 2.5em;
      font-family: serif;
      font-weight: bold;
      margin-bottom: 2.5%;
    }
    p {
      margin-top: 2.5%;
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  .arrow {
    position: absolute;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
    width: 100%;
    height: 40px;
    &__bg {
      position: absolute;
      width: 60px;
      height: 55px;
      background-color: rgba(110, 108, 108, 0.417);
    }

    &__down {
      position: relative;
      width: 40px;
      height: 40px;
      border: solid white;
      border-width: 0 10px 10px 0;
      transform: rotate(45deg);
    }
  }
}
// -----------------------------------------------/
// Оснавная секция ----------------------------------------\
section.item {
  // фильтр -----------------------------------------\
  .menu-filtr {
    background-color: $MFC;
    min-height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__item-filter {
      width: 85%;
    }
  }
  .item-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .checkbox-item {
    text-transform: uppercase;
    display: inline-flex;
    &__label {
      display: flex;
      justify-content: center;
    }
    &__checkbox {
      display: none;
    }
    &__people {
      font-size: 1.15em;
      margin-left: 4px;
    }
    &__checkmark {
      position: relative;
      top: -7px;
      width: 29px;
      height: 29px;
      border: 2px solid $GC;
      border-radius: 4px;
      margin-right: 4px;
    }
    &__label:not(:first-child) .checkbox-item__checkmark {
      margin-left: 15px;
    }
    &__checkmark::after {
      content: "";
      position: absolute;
      display: none;
      width: 10px;
      height: 16px;
      border: solid $GC;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      left: 7px;
      top: 2px;
    }
    input.checkbox-item__checkbox:checked ~ {
      .checkbox-item__checkmark::after {
        display: block;
      }
    }
  }
  .button-item {
    &__all-item {
      width: 204px;
      height: 54px;
      background-color: $GC;
      border-radius: 4px;
      color: #fff;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }
  //----------------------------------------------------/
  // Каталог -----------------------------------------\
  .catalog-item {
    &__men {
    }
    &__women {
    }
    &__all-item {
    }
  }

  .men {
    // .men__header

    &__header {
    }

    // .men__dorder

    &__dorder {
    }

    // .men__pagination

    &__pagination {
    }

    // .men__slot

    &__slot {
    }

    // .men__slot-item

    &__slot-item {
    }

    // .men__color-item

    &__color-item {
    }

    // .men__item

    &__item {
    }

    // .men__name

    &__name {
    }

    // .men__cost

    &__cost {
    }
  }
  .name {
  }
  .pagination {
    // .pagination__arrow

    &__arrow {
      // .pagination__arrow_left

      &_left {
      }

      // .pagination__arrow_right

      &_right {
      }
    }

    // .pagination__text

    &__text {
    }
  }
  .slot {
  }
  .slot-item {
    // .slot-item_hidden

    &_hidden {
    }

    // .slot-item__select-size

    &__select-size {
    }
  }
  .select-size {
    // .select-size__size-item

    &__size-item {
    }
  }
  .color-item {
  }
  .women {
    // .women__header

    &__header {
    }

    // .women__dorder

    &__dorder {
    }

    // .women__pagination

    &__pagination {
    }

    // .women__slot

    &__slot {
    }
  }
  .all-item {
    // .all-item__header

    &__header {
    }

    // .all-item__dorder

    &__dorder {
    }

    // .all-item__slot

    &__slot {
    }
  }
}
// ----------------------------------------------/
// -----------------------------------------------/
// Медиазапросы -----------------------------------------\
// Ширина -----------------------------------------------\
@media (max-device-width: 320px) {
  header {
    font-size: 0.9em;
    .menu {
      &_follow_true {
        @include trapezoid(50px, 0, 0);
      }
    }
    .message {
      width: 95%;
      h1 {
        font-size: 1.7em;
      }
      p {
        margin-top: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
      }
    }
  }
}
@media (max-device-width: 768px) {
  header {
    .menu {
      &_follow_true {
        width: 100%;
      }
    }
    .message {
      width: 85%;
      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1.1em;
        margin-top: 2.5%;
        padding-left: 7.5%;
        padding-right: 7.5%;
      }
    }
  }
}
@media (min-device-width: 768px) {
  header {
    font-size: 1.2em;
  }
}
@media (min-device-width: 1440px) {
  header {
    font-size: 1.4em;
  }
}
//  -----------------------------------------------/
// Высота ----------------------------------------------------------\
@media (max-device-height: 600px) {
  header {
    font-size: 0.95em;
    .message {
      width: 95%;
      p {
        margin-top: 2.5%;
        padding-left: 5.5%;
        padding-right: 5.5%;
      }
    }
  }
}
@media (max-device-height: 320px) {
  header {
    font-size: 0.9em;
    .message {
      width: 95%;
      p {
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
      }
    }
  }
}
// -----------------------------------------------/
// -----------------------------------------------/
// Конец -----------------------------------------------/
